<ion-content>
  <div class="main-container">
    
    <img src="https://seeklogo.com/images/F/Fatec-logo-9710C99301-seeklogo.com.png" style="width: 80%; margin-bottom: 14%; margin-top: -10%;" alt="">

    <form *ngIf="form" [formGroup]="form" class="formulario">

      <div style="text-align: center; margin-bottom: 10px; font-size: 14px; color: #005C6D; display: flex; align-items: center; gap: 5px; justify-content: center;">
        <span style="margin-bottom: 8px;">Faça o login com os dados do SIGA</span>
      </div>

      <input type="text" formControlName="login" placeholder="Informe seu Usuário" [ngStyle]="{'margin-bottom': '16px'}">

      <div class="input-icon">
        <input formControlName="password" 
          [type]="hidePassword ? 'password' : 'text'" 
          style="margin-top: 16px;"
          type="text" placeholder="Insira sua Senha">
        
        <ion-icon name="{{hidePassword ? 'eye-outline' : 'eye-off-outline'}}" 
          (click)="hidePassword = !hidePassword">
        </ion-icon>
      </div>

      <p style="text-align: end">
        <a href="https://siga.cps.sp.gov.br/aluno/login_auxproblemas.aspx" class="recover-password">
          Esqueci minha senha!
        </a>
      </p>

      <button *ngIf="!showMsgPreCadastro" class="btn-login" [disabled]="!form?.valid" (click)="login()">
        Login
      </button>

    </form>
  </div>
</ion-content>