
<div class="ion-page" id="main-content">

  <div class="header-menu">
    <ion-menu-button color="light" mode="start"></ion-menu-button>
  </div>


  <ion-content class="ion-padding">
    <div class="card">
      <img class="cps" src="https://seeklogo.com/images/C/centro-paula-souza-logo-BE7AD72CD0-seeklogo.com.png" alt="">
      <img class="avatar" src="../../assets/estudante_joao.jpg" alt="">
      <h4>{{user?.name}}</h4>
      <qr-code [value]="user?.uuid" size="300" errorCorrectionLevel="M" />
    </div>


  </ion-content>

</div>
