
<div class="ion-page" id="main-content">

  <div class="header-menu">
    <ion-menu-button color="light" mode="start"></ion-menu-button>
  </div>


  <ion-content class="ion-padding">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

    <ion-fab-button>
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-content>

</div>